.details-header {
    display: flex;
    flex-direction: column;
}

.details-wrapper {
    display: flex;
}

.details-logo-row {
    display: flex;
    justify-content: space-between;
}

.details-search-button {
    font-size: 30px;
    margin: 10px;
}

.details-cover {
    width: auto;
}

.details-cover img {
    width:200px;
}

.details-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 970px;
    margin-left: 30px;
}

.details-text-title {
    font-size: 60px;
}

.details-text-title-score {
    margin-left: 20px;
    border-radius: 50%;
    padding: 15px;
    border: 2px solid #FFF;
    color: green;
    text-align: center;
    font: 32px Arial, sans-serif;    
}

.details-text-year-length {
    font-size: 26px;
    color:rgba(246, 82, 97, 1);
}