@media (prefers-reduced-motion: no-preference) {
    .pure-component-logo {
      animation: pure-component-logo-spin infinite 5s linear;
    }
}

@keyframes pure-component-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}