.movie-card {
    margin: 20px 0px;
}

.title-year {
    display: flex;
    justify-content: space-between;
    color: rgb(137, 149, 160);
}

.title {
    font-size: 24px;

}

.year {
    font-size: 16px;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    padding: 2px 10px;
}

.genre {
    color: rgb(93, 102, 110);
    font-size: 14px;
}

.cover {
    position: relative;
}

.hover-menu {
    position: relative;
    display: inline-block;
}

.movie-menu-button {
    background-image: radial-gradient(circle, white 3px, transparent 4px);
    background-size: 100% 33.33%;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    content: '\2807';
    position: absolute;
    background-color: #555;
    top: 2%;
    left: 85%;
    cursor: pointer;
}

.movie-dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(66, 66, 66, 1);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.movie-dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.movie-dropdown-content a:hover {
    background-color: rgba(246, 82, 97, 1);
}

.movie-menu-button:hover .movie-dropdown-content {
    display: block;
} 

.movie-menu-button:hover {
    background-color: rgba(66, 66, 66, 1);
}