@media (prefers-reduced-motion: no-preference) {
    .component-logo {
      animation: component-logo-spin infinite 10s linear;
    }
}

@keyframes component-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}